* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
}
#header {
  color: white;
  display: flex;
  justify-content: space-between;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
#content {
  display: flex;
  color: white;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#background {
  height: 100%;
  width: 1237.33px;
  left: -479.667px;
  top: 0px;
  position: absolute;
}

#main {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 135px;
  font-weight: 500;
  margin: 30px;
}

#today-info {
  font-size: 30px;
  font-weight: 600;
  margin: 30px;
}

#login-form input {
  background: none;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 25px;
  color: white;
  margin-top: 40px;
  text-align: center;
}

#login-button {
  display: none;
}

#quote {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
